.navItems{
    display: inline-block;
    padding: 1px 15px
}

 a{
    text-decoration: none;
    color: blue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover{
    color: red;
}